<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
  <connectionStrings>
    <add name="DSSDBModelContainer" connectionString="metadata=res://*/DSSDBModel.csdl|res://*/DSSDBModel.ssdl|res://*/DSSDBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=NP350E5C-A03AE\SQLEXPRESS;initial catalog=DSSDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DBModelContainer" connectionString="metadata=res://*/DBModel.csdl|res://*/DBModel.ssdl|res://*/DBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=NP350E5C-A03AE\SQLEXPRESS;initial catalog=DSSDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DSSDBEntities" connectionString="metadata=res://*/DSSDBModel.csdl|res://*/DSSDBModel.ssdl|res://*/DSSDBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=СОЗОЕВНУРБЕК-ПК\SQLSERVER2008R2;initial catalog=DSSDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <runtime>
    <gcAllowVeryLargeObjects enable="true" />
  </runtime>
</configuration>